body{
    background-color: lightyellow;
}
main{
    display: grid;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}
  ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
  }
  li {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#30A8E6; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:10px; /*добавляем отступ*/
    

    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
   
  }
  li:hover {
    background:#1C85BB;/*добавляем эффект при наведении*/
  }
  a{text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color:rgb(2, 13, 78); /*меняем цвет ссылок*/}
  li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/
  }  
form{
    display: grid;
    justify-content: center;
    width: 100%;
    
}
.addSession{
    display: grid;
    justify-content: center;
}